<h1>Objednavka #<%= @order.id %></h1>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      Meno: <%= @order.user.email %><br/>
      Vytvorene: <%= l @order.created_at %>
    </div>

    <%= link_to "Späť na objednávky", admin_orders_path, class: 'btn btn-default' %>
  </div>

  <div class="col-md-6">
    <table class='table'>
      <tr>
        <th></th>
        <th>Produkt</th>
        <th>Cena</th>
        <th>Ks</th>
        <th>Cena spolu</th>
      </tr>

      <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= image_tag order_item.product.image.url, style: 'width: 50px' %></td>
          <td><%= order_item.product.name %></td>
          <td><%= number_to_currency order_item.price, unit: "€", format: "%n %u" %></td>
          <td><%= order_item.quantity %></td>
          <td><%= number_to_currency order_item.total_price, unit: "€", format: "%n %u" %>
        </tr>
      <% end %>
    </table>
  </div>
</div>