<h1>Admin produktov</h1>

<p>
  <%= link_to "Pridať produkt", new_admin_product_path, class: "btn btn-primary" %>
</p>

<table class="table">

  <thead>
    <tr>
      <th>Obrazok</th>
      <th>Nazov</th>
      <th>Cena</th>
      <th>Pridane</th>
      <th>Akcie</th>
    </tr>
  </thead>

  <tbody>

    <% @products.each do |product| %>
    <tr>
      <td><%= image_tag product.image.url, class: 'product-image' %></td>
      <td><%= product.name %></td>
      <td><%= number_to_currency product.price %></td>
      <td><%= l product.created_at, format: :short %></td>
      <td><%= link_to "Upravit", edit_admin_product_path(product) %></td>
    </tr>
    <% end %>

  </tbody>
</table>
